<div class="container">
  <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About Us</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Location</a>
          <a class="dropdown-item" href="#">Contact us</a>
          <a class="dropdown-item" href="#">Career</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" >Membership</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="product">Product</a>
      </li>
      <li class="nav-item">
          <input class="srchText" type="text" placeholder="Search">
          <button id="kkk" type="submit" class="btn btn-default">GO</button>
	        <img src="assets/img/search.png" id="searchimg">
      </li>

      <li class="nav-item">
        <a class="nav-link active" id="loginBtn">Login</a>
      </li>
    </ul>

  <!-- Modal ------------------------------------------------------------------------------------------------- -->
	<div class="lgModal animate" id="login1">
      <img src="assets/img/x.png" id="closeimg">
      <form action="#" class="modal-content">
        <label for="uname">UserName</label>
        <input type="text" name="uname" placeholder="Enter UserName" required="required"/>
        <label for="psw">Password</label>
        <input type="password" name="psw" placeholder="Enter Password" required="required"/>
        <button type="submit">Submit</button>
        <label class="checkbox">
          <input type="checkbox" name="">Keep me login
        </label>
      </form>
    </div>

    <!-- end of Modal ------------------------------------------------------------------------------------------------- -->
    <router-outlet></router-outlet>
    <app-foot></app-foot>
</div>

