<div class="container">
<div class="foot">
		<div class="footContent">
			<li><h4>Help</h4></li>
			<li><a href="#">Fina a Store</a></li>
			<li><a href="#">Store App</a></li>
			<li><a href="#">Order Status</a></li>
			<li><a href="#">Shopping Help</a></li>
			<li><a href="#">Field Trip</a></li>
			<li><a href="#">Refurbinished and Clearance</a></li>
			<li><a href="#">Store Camp</a></li>
		</div>
		<div class="footContent">
			<li><h4>About Us</h4></li>
			<li><a href="#">Newsroom</a></li>
			<li><a href="#">Leadership</a></li>
			<li><a href="#">Investors</a></li>
			<li><a href="#">Event</a></li>
			<li><a href="#">Contact Us</a></li>
			<li><a href="#">Job Opportunities</a></li>
		</div>
		<div class="footContent">
			<li><h4>Company Value</h4></li>
			<li><a href="#">Accessiblity</a></li>
			<li><a href="#">Enviroment</a></li>
			<li><a href="#">Privacy</a></li>
			<li><a href="#">Suppiler Responsibility</a></li>
		</div>
		<div class="footContent">
			<li><h4>Account</h4></li>
			<li><a href="#">Manage your ID</a></li>
			<li><a href="#">Store Account</a></li>
		</div>
	</div>

	<div class="foot2">
		<span>Copyright©️ 2018 RunBin Ju. All rights Reserved.</span>
		<li><a href="#"> Privacy Policy</a></li>
		<li><a href="#"> Use of Cookies</a></li>
		<li><a href="#"> Terms of Use</a></li>
		<li><a href="#"> Legal</a></li>
		<li><a href="#"> Site Map</a></li>
	</div>
</div>
