<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
  	<li id="sort">Sort by :</li>
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Latest Arrivals</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Highest Price</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Lowest Price</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Most Popular</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Coming Soon</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="home">
    	<div class="row">
		  <div class="col-md-4">
		  	<img src="assets/img/cloth1.jpg">
		  	<span>
		  		<p><b>Description</b></p>
		  		<p><b>Description</b></p>
		  		<p><b>Description</b></p>
		  	</span>
		  	<a><img src="assets/img/cart.png" (click)="add()">${{price}}</a>
		  </div>
		  <div class="col-md-4">
		  	<img src="assets/img/cloth1.jpg">
		  	<span>
		  		<p><b>Description</b></p>
		  		<p><b>Description</b></p>
		  		<p><b>Description</b></p>
		  	</span>
		  	<a><img src="assets/img/cart.png" (click)="add()">${{price}}</a>
		  </div>
		  <div class="col-md-4">
		  	<img src="assets/img/cloth1.jpg">
		  	<span>
		  		<p><b>Description</b></p>
		  		<p><b>Description</b></p>
		  		<p><b>Description</b></p>
		  	</span>
		  	<a><img src="assets/img/cart.png" (click)="add()">${{price}}</a>
		  </div>
		</div>
		<div class="row">
		  <div class="col-md-4">
		  	<img src="assets/img/cloth1.jpg">
		  	<span>
		  		<p><b>Description</b></p>
		  		<p><b>Description</b></p>
		  		<p><b>Description</b></p>
		  	</span>
		  	<a><img src="assets/img/cart.png" (click)="add()">${{price}}</a>
		  </div>
		  <div class="col-md-4">
		  	<img src="assets/img/cloth1.jpg">
		  	<span>
		  		<p><b>Description</b></p>
		  		<p><b>Description</b></p>
		  		<p><b>Description</b></p>
		  	</span>
		  	<a href="#"><img src="assets/img/cart.png" (click)="add()">${{price}}</a>
		  </div>
		  <div class="col-md-4">
		  	<img src="assets/img/cloth1.jpg">
		  	<span>
		  		<p><b>Description</b></p>
		  		<p><b>Description</b></p>
		  		<p><b>Description</b></p>
		  	</span>
		  	<a><img src="assets/img/cart.png" (click)="add()">${{price}}</a>
		  </div>
		</div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="profile">
    	<div class="row">
		  <div class="col-md-4">
		  	<img src="assets/img/cloth2.jpg">
		  	<span>
		  		<p><b>Description</b></p>
		  		<p><b>Description</b></p>
		  		<p><b>Description</b></p>
		  	</span>
		  	<a href="#"><img src="assets/img/cart.png" (click)="add()">${{price}}</a>
		  </div>
		  <div class="col-md-4">
		  	<img src="assets/img/cloth2.jpg">
		  	<span>
		  		<p><b>Description</b></p>
		  		<p><b>Description</b></p>
		  		<p><b>Description</b></p>
		  	</span>
		  	<a href="#"><img src="assets/img/cart.png" (click)="add()">${{price}}</a>
		  </div>
		  <div class="col-md-4">
		  	<img src="assets/img/cloth2.jpg">
		  	<span>
		  		<p><b>Description</b></p>
		  		<p><b>Description</b></p>
		  		<p><b>Description</b></p>
		  	</span>
		  	<a href="#"><img src="assets/img/cart.png" (click)="add()">${{price}}</a>
		  </div>
		</div>
		<div class="row">
		  <div class="col-md-4">
		  	<img src="assets/img/cloth2.jpg">
		  	<span>
		  		<p><b>Description</b></p>
		  		<p><b>Description</b></p>
		  		<p><b>Description</b></p>
		  	</span>
		  	<a href="#"><img src="assets/img/cart.png" (click)="add()">${{price}}</a>
		  </div>
		  <div class="col-md-4">
		  	<img src="assets/img/cloth2.jpg">
		  	<span>
		  		<p><b>Description</b></p>
		  		<p><b>Description</b></p>
		  		<p><b>Description</b></p>
		  	</span>
		  	<a href="#"><img src="assets/img/cart.png" (click)="add()">${{price}}</a>
		  </div>
		  <div class="col-md-4">
		  	<img src="assets/img/cloth2.jpg">
		  	<span>
		  		<p><b>Description</b></p>
		  		<p><b>Description</b></p>
		  		<p><b>Description</b></p>
		  	</span>
		  	<a href="#"><img src="assets/img/cart.png" (click)="add()">${{price}}</a>
		  </div>
		</div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="messages">
    	<div class="row">
		  <div class="col-md-4">
		  	<img src="assets/img/cloth3.jpg">
		  	<span>
		  		<p><b>Description</b></p>
		  		<p><b>Description</b></p>
		  		<p><b>Description</b></p>
		  	</span>
		  	<a href="#"><img src="assets/img/cart.png" (click)="add()">${{price}}</a>
		  </div>
		  <div class="col-md-4">
		  	<img src="assets/img/cloth3.jpg">
		  	<span>
		  		<p><b>Description</b></p>
		  		<p><b>Description</b></p>
		  		<p><b>Description</b></p>
		  	</span>
		  	<a href="#"><img src="assets/img/cart.png" (click)="add()">${{price}}</a>
		  </div>
		  <div class="col-md-4">
		  	<img src="assets/img/cloth3.jpg">
		  	<span>
		  		<p><b>Description</b></p>
		  		<p><b>Description</b></p>
		  		<p><b>Description</b></p>
		  	</span>
		  	<a href="#"><img src="assets/img/cart.png" (click)="add()">${{price}}</a>
		  </div>
		</div>
		<div class="row">
		  <div class="col-md-4">
		  	<img src="assets/img/cloth3.jpg">
		  	<span>
		  		<p><b>Description</b></p>
		  		<p><b>Description</b></p>
		  		<p><b>Description</b></p>
		  	</span>
		  	<a href="#"><img src="assets/img/cart.png"(click)="add()">${{price}}</a>
		  </div>
		  <div class="col-md-4">
		  	<img src="assets/img/cloth3.jpg">
		  	<span>
		  		<p><b>Description</b></p>
		  		<p><b>Description</b></p>
		  		<p><b>Description</b></p>
		  	</span>
		  	<a href="#"><img src="assets/img/cart.png"(click)="add()">${{price}}</a>
		  </div>
		  <div class="col-md-4">
		  	<img src="assets/img/cloth3.jpg">
		  	<span>
		  		<p><b>Description</b></p>
		  		<p><b>Description</b></p>
		  		<p><b>Description</b></p>
		  	</span>
		  	<a href="#"><img src="assets/img/cart.png"(click)="add()">${{price}}</a>
		  </div>
		</div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="settings">
    	<div class="row">
		  <div class="col-md-4">
		  	<img src="assets/img/cloth4.jpg">
		  	<span>
		  		<p><b>Description</b></p>
		  		<p><b>Description</b></p>
		  		<p><b>Description</b></p>
		  	</span>
		  	<a href="#"><img src="assets/img/cart.png" (click)="add()">${{price}}</a>
		  </div>
		  <div class="col-md-4">
		  	<img src="assets/img/cloth4.jpg">
		  	<a href="#"><img src="assets/img/cart.png" (click)="add()">${{price}}</a>
		  </div>
		  <div class="col-md-4">
		  	<img src="assets/img/cloth4.jpg">
		  	<a href="#"><img src="assets/img/cart.png" (click)="add()">${{price}}</a>
		  </div>
		</div>
		<div class="row">
		  <div class="col-md-4">
		  	<img src="assets/img/cloth4.jpg">
		  	<a href="#"><img src="assets/img/cart.png" (click)="add()">${{price}}</a>
		  </div>
		  <div class="col-md-4">
		  	<img src="assets/img/cloth4.jpg">
		  	<a href="#"><img src="assets/img/cart.png" (click)="add()">${{price}}</a>
		  </div>
		  <div class="col-md-4">
		  	<img src="assets/img/cloth4.jpg">
		  	<a href="#"><img src="assets/img/cart.png" (click)="add()">${{price}}</a>
		  </div>
		</div>
    </div>
  </div>
</div>
<!-- End of Nav Tabs ------------------------------------------------------------------------------------------------- -->
<div class="cart">
	<span><img src="assets/img/cart.png">Your Selected Items:</span>
	<ul id="ul">
	</ul>
	      Number of Items : {{num}}
	<br>
	      Total Amount($) : {{total}}
	<br>
	<button>Checkout</button>
	<button id="delete" (click)= "delete()" >Delete</button>
	<button id="clear" (click) ="clear()">Clear All</button>
	

</div>

